@import url(../global/reset.css);

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    color: var(--cor-white);
    font-family: var(--font-primaria);
    font-size: 1.2rem;
    transition: .5s;
}

nav a:hover {
    color: var(--cor-terciaria);
}

.btns-menu {
    display: flex;
    gap: 1rem;
}

.btns-menu button {
    width: 5rem;
    height: 2.8rem;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--font-primaria);
    transition: transform 0.35s cubic-bezier(0.25, 1.25, 0.5, 1),
        box-shadow 0.35s ease;
}

/* Levanta no hover */
.btns-menu button:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 25px rgba(254, 254, 254, 0.39);
}

/* Quando clicar, ele abaixa */
.btns-menu button:active {
    transform: translateY(-2px) scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-login {
    background-color: var(--cor-primaria);
}

.btn-singup {
    background-color: var(--cor-secundaria);
}

/* Section Quem somos*/

.content-quemsomos {
    width: 100%;
    padding: 3rem 1rem;
    text-align: center;
    margin-top: 3.75rem;
}

.title-quemsomos {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}

.quemsomos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.quem-somos img {
    width: 80%;
    height: auto;
}

.text-quemsomos {
    max-width: 500px;
    text-align: left;
}

.text-quemsomos h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);
}

.text-quemsomos p {
    margin-bottom: 1.8rem;
    font-size: .8rem;
    font-family: var(--font-primaria);
    color: var(--cor-white);
}

.text-quemsomos button {
    padding: 0.7rem 1.8rem;
    border: none;
    border-radius: 12px;
    background-color: var(--cor-primaria);
    color: var(--cor-black);
    cursor: pointer;
}

.text-quemsomos button:hover {
    color: var(--cor-white);
    background-color: var(--cor-secundaria);
}

/* Section Chamada */

.container-chamada {
    width: 100%;
    min-height: 600px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.75rem;
    background-image: url(../../src/assets/components/images/fundo-tech.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.chamada {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chamada h2 {
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-secundaria);
    color: var(--cor-white);
}

.chamada p {
    width: 20%;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-secundaria);
    color: var(--cor-white);
}

.group-btn {
    display: flex;
    gap: 1rem;
}

.group-btn button {
    padding: 1rem 2.5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-fundo {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 1rem 1.8rem;
    border-radius: 12px;
    border: 2px solid var(--cor-terciaria);
    background: transparent;
    color: var(--cor-terciaria);
    transition: color .45s ease;
}

.btn-fundo::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, var(--cor-terciaria), #6ec1ff);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .50s cubic-bezier(.2, .9, .2, 1);
    z-index: -1;
}

.btn-fundo:hover::before,
.btn-fundo:focus::before {
    transform: scaleX(1);
}

.btn-fundo:hover {
    color: var(--cor-white);
    transform: translateY(-3px);
}

.btn-main {
    background: var(--cor-secundaria);
    border: none;
}

.btn-main:hover {
    background: var(--cor-primaria);
}

/* Section Newsleter */

.content-email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: linear-gradient(to right top, #845cdc, #5d48a3, #3d336c, #221e38, #040404);
    padding: 2rem;
    margin-top: 3.75rem;
}

.content-input {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-email img {
    width: 100%;
    height: auto;
}

.newsleter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsleter h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--font-primaria);
    color: var(--cor-white);
}

.input-group {
    position: relative;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
}

.input-group input {
    width: 100%;
    padding: 12px 16px 12px 36px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: var(--cor-quaternaria);
    color: var(--cor-white);
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-white);
    font-size: 1.2rem;
    pointer-events: none;
}

.input-group button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 16px;
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-black);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-white);
}

/* footer */

.content-footer {
    width: 100%;
    padding: 2rem;
    margin-top: 3.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left bottom, #040404, #1a1a1e, #2b2a34, #3d3c4b, #4f4f64);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group-redes {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.group-redes img {
    width: 30px;
}

.footer-bandeiras {
    width: 100%;
    display: flex;
    justify-content: center;
}

.group-links {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.group-links h4 {
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    color: var(--cor-white);
}

a {
    font-family: var(--font-primaria);
    font-size: .9rem;
    text-decoration: none;
    color: var(--cor-white)
}

a:hover {
    color: var(--cor-terciaria);
}

.bandeiras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

.bandeiras h2 {
    font-size: 2rem;
    color: var(--cor-white);
    margin-bottom: 1.5rem;
    font-family: var(--font-secundaria);
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas */
    grid-template-rows: repeat(3, auto);
    /* 3 linhas */
    gap: 1.5rem;
}

.grid-img img {
    height: auto;
    object-fit: contain;
}

.divisoria {
    display: flex;
    flex-direction: column;
}

.copy {
    margin-top: .9rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
}

/* Button whats */

.btn-whats {
    position: fixed;
    bottom: 20px;
    /* distância do rodapé */
    right: 20px;
    /* distância da lateral direita */
    background-color: #25d366;
    color: white;
    font-size: 2rem;
    padding: 12px 14px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(249, 247, 247, 0.507);
    z-index: 9999;
    /* sempre na frente */
    transition: transform 0.3s;
}

.btn-whats:hover {
    transform: scale(1.1);
    color: white;
    background-color: #20ba5a;
}